#about-section {
  font-size: 16px;
}

.about-text {
  position: relative;
  margin-left: 30px;
}

.about-icon {
  font-size: 16px;
  position: absolute;
  left: -40px;
  margin-top: 5px;
}

#about-section p:last-child {
  margin-bottom: 0;
}
